@import "tailwindcss";

@theme {
    /* --breakpoint-*: initial; */
  --breakpoint-sm:480px;
  --color-twitter-blue: #1DA1F2;  /* if you want to set your color */
  --color-orange-500: #ffa500;/* if you want to change/override a specific shade color which has already been taken by tailwind css */
}

:root {
  font-family: "Poppins" "Montserrat", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

